*,*::before,*::after{
    box-sizing:border-box;
    font-family: monospace,sans-serif;
    font-weight: normal;
}


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: minmax(120px,auto) repeat(5,80px);
    
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
   
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right ,#98fb98,	#00FFFF );
}

.calculator-grid > button {
    cursor: pointer;
    border: none;      
    background-color: rgba(255, 255 ,255 , 0.75);        
    text-align: center;          
    font-size: 2rem ;  
    /* This allows transition animation: on hover       */
    /* -webkit-transition-duration: 0.4s; 
    /* Safari */      
    /* transition-duration: 0.4s;            */
    text-decoration: none;      
    text-transform: uppercase;
}

.calculator-grid > button:hover{
    
    background-color: rgba(255, 255 ,255 , 0.9);    
}

.span-two{
    grid-column: span 2;
}

.output {
    border-top-left-radius:     25px;
    border-top-right-radius:    25px;    
    grid-column: 1/-1;
    background-color: rgba(0, 0 ,0 , 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction:column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255 ,255 , 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

#period {
    border-bottom-left-radius: 25px;
}

#equals {
    border-bottom-right-radius: 25px;
}

